/* header utilities */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,500;1,700&family=Ubuntu:ital,wght@0,400;0,500;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    position: relative;
    background-color: #091729;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 25px;
    color: #fff;
}

.logo img {
    height: 20vh
}

.navbar {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 4rem;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar .active{
    color: #b40a0a;
}
  
.navbar a:hover {
    color: #b40a0a;
}

.hero-btn {
    margin-top: 20px;
    outline: none;
    padding: 10px 20px;
    background-color: #b40a0a;
    color: #312525;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero-btn:hover {
    background-color: #fff;
   
}

.toggle-btn {
    display: none;
    cursor: pointer;
}

.toggle-btn i {
    font-size: 24px;
    color: #fff;
}

 /* DROP DOWN MENU  */

.dropdown-menu  {
    position: absolute;
    display: none;
    right: 2rem;
    top: 60px;
    width: 300px;
    border-radius: 10px;
    background-color: #091729;
    z-index: 1;
}
.dropdown-menu.open {
    display: flex;
    flex-direction: column;
}
.dropdown-menu li {
    color: #f0f0f0;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown-menu .hero-btn {
    width: 100%;
    text-align: center;
}


/* home section contents */

.Home-content {
    position: relative;
    background-image: url(image.home/freepik-export-20240519141247JL6o.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding: 70px;
    font-size: 15px;
    font-size: 1.7rem;
    text-align: center;
}

.icov {
    font-family: "Roboto";
    color: #b40a0a;
}

.Home-content h2 {
    padding-top: 4.3rem;
    font-family: "Roboto";
    color: #000000;
}

.Home-content p {
    padding: 20px;
    font-family: "Roboto";
    color: #000000;
}

.buttons {
    margin-top: 5px;
     padding: 2rem;
    font-weight: bolder;
    font-family: "Poppins";
}

.buttons .btn-box {
    text-decoration: none;
    color: #000000;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 50px;
    padding-inline: 20px;
    background-color: rgb(248, 0, 0);
    cursor: pointer;
}

.buttons .btn-box:hover {
    background-color: rgb(235, 228, 228);
}


/* About section */


.About-content {
    position: relative;
    background-color: #091729;
    height: 83vh;
    width: auto;
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

.container {
 
    font-family: "Poppins";
    font-weight: bolder;
    color: white;

}

.lead {
    padding: 20px;
    text-transform: uppercase;
    color: #be0404;
    text-decoration: underline;
}

/* Services utilities */

.services-section {
    font-family: "Poppins";
    background-color:#f5f5f5;
    padding: 30px 0;
    font-size: 18px;
  }
  
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
  }
  
  .box {
    background-color: #091729;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .box:hover {
    transform: translateY(-5px);
  }
  
   .box i {
    color: #0b81ff;
    margin-bottom: 15px;
  } 
   
  .box h3 {
    margin-bottom: 15px;
    color:#000000;
  }
  
  .box p {
    color:white;
    font-family: "Poppins";
    line-height: 1.6;
  }

  /* contact section */

  .contact-us  {
    position: relative;
    max-width: 30em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 2em;
    height: 40vh;
    padding-top: 20px;
    font-size: 20px;
    font-family: "Roboto";
  }

  .contact-us h2{
    margin-top: 30px;
    padding-top: 15px;
    text-align: center;
  }
  .contact-us form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .contact-us form .input-box input,
.contact-us form textarea{
    width: 100%;
    padding: 20px;
    font-size: 18px;
    color: black;
    background: rgb(241, 241, 241);
    border-radius: 10.20px;
    margin: 1rem 0;
    resize: none;
}

.submit{
    font-family: "Poppins";
    font-size: 30px;
    font-weight: bolder;
    padding: 10px;
    width: 30vh;
    border: 1px solid #000000;
    border-radius: 10.20px;
}

.submit:hover{
    transform: translateY(-5px);
    background-color: #091729;
    color: #007bff;
}
 
/* footer section */

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color:#091729;
    margin-top: 37rem;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color-scheme: white;
}

.footer .social a{
    font-size: 24px;
    color: rgb(255, 255, 255);
    border: 2px solid #0b81ff;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px #0b81ff, 0 0 10px #0b81ff;
    transition: 0.3s ease;
}

.footer .social a:hover{
    color: #0b81ff;
    border: 2px solid #0b81ff;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    font-size: 20px;
    font-family: "Roboto";
}

.footer ul li a{
text-decoration: none;
color: white;
border-bottom: 3px solid transparent;
transition: 0.3s ease;
}

.footer ul li a:hover{
    border-bottom: 3px solid #0b81ff;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.copyright{
    font-family: "Roboto";
    font-size: 20px;
    text-align: center;
    margin-top:15px;
    color: white;
}
/* responsive design */
@media (max-width: 768px) {
    .navbar, .hero-btn  {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #091729;
        position: absolute;
        top: 20vh;
        left: 0;
        padding: 20px;
        gap: 1rem;
    }

    

    .navbar {
        display: flex;
    }

    .toggle-btn {
        display: block;
    }

     a{
        text-decoration: none;
        color: white;
    } 

    .Home-content{
        font-size: 15px;
    }

    .About-content{
        font-size: 12px;
    }

    .services-section{
        font-size: 15px;
    }

    .contact-us{
        font-size: 15px;
    }

    .footer{
        font-size: 13px;
    }
}


/* The whole website was purely done by Dickson Chamwada. All rights are reserved.
The whole creation of it was for educational  purpose and for both challenging,
 And callousing my mind to be creative and innovative. The prototype of the website lies with me.  */